  <div>
    <mat-toolbar class="buttons" color="primary">
      <!-- BUTTONS -->
      <mat-icon [routerLink]="['/']">home</mat-icon>
      
      <!-- Admin menu -->
      <button class="button-admin" *ngIf="this.currentUser && this.currentUser.role === 'ADMIN'" mat-button [matMenuTriggerFor]="menuAdmin">Admin</button>
      <mat-menu #menuAdmin="matMenu">
        <button [routerLink]="['/admin/users']" mat-menu-item>User List</button>
        <button [routerLink]="['/categories']" mat-menu-item>Create category</button>
      </mat-menu>

      <!-- Article button -->
      <button  class="button-article" *ngIf="this.isLogged" [routerLink]="['/article/create']" mat-button><mat-icon>post_add</mat-icon></button>

      <!-- Profile menu -->
      <button class="profile-button" *ngIf="this.isLogged" mat-button [matMenuTriggerFor]="menuProfile"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #menuProfile="matMenu">
        <button [routerLink]="['/profile']" mat-menu-item>My profile</button>
        <button (click)="logOut()" mat-menu-item>Logout</button>
      </mat-menu>

      <!-- If not authenticated! -->
      <button *ngIf="!this.isLogged" [routerLink]="['/login']" mat-button>Login</button>
      <button *ngIf="!this.isLogged" [routerLink]="['/register']" mat-button>Register</button>

    </mat-toolbar>
  </div>