/* mat-toolbar.mat-toolbar.mat-toolbar-single-row {
    background: rgb(77, 184, 208);
} */

.profile-button{
    position: absolute;
    right: 0;
}

.button-article{
    position: absolute;
    right: 4vw;
}

.button-admin{
    position: absolute;
    right: 8vw;
}


.mat-toolbar {
    background: #00b0ff;
}