<!-- <div class="background">
  <div class="container">
    <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>

        <form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <span id="reauth-email" class="reauth-email"></span>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" pattern="[^ @]*@[^ @]*" [(ngModel)]="user.email" #email="ngModel" required />
          <div *ngIf="f.submitted && !email.valid" class="help-block">Valid email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <button class="btn btn-success btn-block" type="submit">Sign in</button>
      </form>
        <a [routerLink]="['/register']" class="btn btn-link">Create new Account!</a>
    </div>
  </div>
</div> -->
<!-- 
<div class="background">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
          <mat-card title>Login</mat-card>
          <mat-card-subtitle>Please provide your credentials.</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img mat-card-image src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
    <mat-form-field>
      <input matInput placeholder="Email" id="email" name="email" pattern="[^ @]*@[^ @]*" [(ngModel)]="user.email" #email="ngModel" required>
    
    </mat-form-field>
  </mat-card>
</div> -->

<div class="background">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Please provide your credentials.</mat-card-subtitle>
    </mat-card-header>
    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <mat-card-content>
          <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
          <mat-error *ngIf="f.submitted && !password.valid" class="help-block">Invalid login!</mat-error>
          <mat-form-field>
              <input matInput placeholder="Email" id="email" name="email" pattern="[^ @]*@[^ @]*" [(ngModel)]="user.email" #email="ngModel" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required />  
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button>Sign in</button>
        <button [routerLink]="['/register']" mat-button>Register</button>
      </mat-card-actions>
  </form>
  </mat-card>
</div>  