  <div class="background">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Create article</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="example-container">
          <mat-form-field>
            <input id="title" name="title" [(ngModel)]="article.title" #title="ngModel" matInput placeholder="Title">
          </mat-form-field>

          <mat-form-field>
            <textarea id="content" name="content" [(ngModel)]="article.content" #content="ngModel" cols="30" rows="10" matInput placeholder="Content"></textarea>
          </mat-form-field>

          <form class="example-form">
            <mat-form-field>
              <mat-label>Pick category</mat-label>
              <mat-select [(ngModel)]="article.category" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let category of categories" [value]="category.categoryName">
                  {{category.categoryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
      
          <button (click)="createArticle(article)" mat-raised-button color="primary">Create</button>
          <button [routerLink]="['/profile']" mat-raised-button color="warn">Cancel</button>
      </div>
      </mat-card-content>
    </mat-card>
  </div>

