

<!-- <mat-card class="profile-card">

  <mat-card-header class="profile-card-header">
    <div mat-card-image class="profile-header-image"></div>

    <mat-card-subtitle class="figure">
        <div mat-card-avatar class="profile-avatar-image z-depth-2"></div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
      <h4 class="user-name">{{currentUser.name}}</h4>
      <p class="user-email">{{currentUser.email}}</p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
<cdk-virtual-scroll-viewport itemSize="articlesByAuthor.length" class="example-viewport">
<mat-tab-group class="tab-group">
  <mat-tab *ngFor="let category of categories" label={{category.categoryName}}>
    <div class="test" *ngFor="let article of this.getByUserFromCategory(category)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title (click)="loadArticleDetails(article.id)">{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.author.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{article.content}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Edit</button>
        <button mat-button>Details</button>
      </mat-card-actions>
    </div>
  </mat-tab>
  </mat-tab-group>
    </cdk-virtual-scroll-viewport>
  </mat-card> -->

<!-- <h3>{{currentUser.email}}</h3>
<h3>{{currentUser.name}}</h3>
<h3>{{currentUser.role}}</h3>
-->
<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>{{currentUser.email}}</mat-card-title>
    <mat-card-subtitle>{{currentUser.name}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="mat-card-articles">
  <mat-list class="articles-by-author-list">
    <mat-list-item *ngFor="let article of articlesByAuthor">
      <img mat-list-avatar src="https://source.unsplash.com/random/200x200">
      <h3 mat-line>{{article.title}}</h3>
      <p mat-line>
        <span>{{article.content}}</span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>