/* .background {
    height: 100vh;
    margin-top: -24px;
    background: rgb(164,244,92);
    background: -moz-linear-gradient(90deg, rgba(164,244,92,1) 0%, rgba(153,214,169,1) 50%, rgba(30,240,68,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(164,244,92,1) 0%, rgba(153,214,169,1) 50%, rgba(30,240,68,1) 100%);
    background: linear-gradient(90deg, rgba(164,244,92,1) 0%, rgba(153,214,169,1) 50%, rgba(30,240,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4f45c",endColorstr="#1ef044",GradientType=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .html {
	height: 100vw;
}

.profile-card{
	position: 1rem 0 0 24rem;
    margin: 2rem 0 0 24rem;
	background-color: white;
	transition: box-shadow .25s;
	border-radius: 4px;
	width: 95rem;
	height: 19rem;
	overflow: hidden;
	max-width: 150%;
	box-shadow: -1px -1px 1px -1px rgba(0, 123, 255, 0.25), 
	0 1px 1px 0 #ffffff,
	0 1px 3px 0 #343a40;
}
.profile-header-image {
	background-image: url('https://images.unsplash.com/photo-1548508015-89cf9e3d53a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
	background-size: cover;
	height: 200px;
	max-width: 150%;
	display: block;
}
.figure {
	position: absolute;
	bottom: 35px;
	left: 50px;
}
.profile-avatar-image {
	background-image: url('//ssl.gstatic.com/accounts/ui/avatar_2x.png');
	background-size: cover;
	margin: 0 0 0 6rem;
	height: 87px;
	width: 87px;
}
.grid-name{
	margin: 0 0 0 0;
	top: 200px;
	right: 70%;
} 

.grid-email{
	margin: 0 0 0 0;
	bottom: 10%;
	right: 2;
}

.mat-tab-group{
	width: 45%;
	max-width: 60%;
	margin-left: 55%;
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}

.mat-card-image{
	background-position: center;
}

.example-viewport {
	height: 29rem;
    width: 69rem;
    border: 3px;
	margin: 0 0 0 14rem;
	position: static;
}
  
  .example-item {
	height: 50px;
}


.row {
	margin: 0 34vw 0 0;
	display: -webkit-box;
}

.name {
	margin: 10rem 0 -2rem -25rem;
	
}

.z-depth-2{
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.example-card {
	box-shadow:-1px -1px 1px -1px rgba(0, 123, 255, 0.25), 
	0 1px 1px 0 #ffffff,
	0 1px 3px 0 #343a40;
	overflow: hidden;
    max-width: 100%;
    width: 70%;
    height: auto;
    margin: 7px 0 0 35rem;
}

.mat-divider{
	overflow-x: hidden;

}

.test{
	overflow: hidden;
	position: static;
}

.user-name {
	margin: 0 0 0 19rem;
}

.user-email{
	margin: 0 0 0 19rem;
}

.cdk-virtual-scroll-content-wrapper{
	position: static;
}

.mat-tab{
	position:sticky;
} */

.mat-card-articles {
	position: relative;
	/* width: 50%;
	height: 50%; */
	overflow: auto;
	margin: auto;
}

.articles-by-author-list {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	/* position: absolute; */
	top: 0; left: 0; bottom: 0; right: 0;
}