<div class="background">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
      </div>
  
      <form>
        <input type="text" id="name" class="fadeIn second" name="login1" placeholder="Name" value="{{userData?.name}}"> <!--ngModel required #userName="ngModel"-->
        <input type="text" id="email" class="fadeIn third" name="login2" placeholder="Email" value="{{userData?.email}}" > <!--ngModel required #userEmail="ngModel"-->
      
        <input (click)="updateUser()" type="submit" class="fadeIn fourth" value="Edit">
      </form>

    </div>
  </div>
</div>