
<h3>Edit Article</h3>
<form [formGroup]="this.articleUpdateForm">
  <mat-form-field>
    <mat-label>
      Title
    </mat-label>
    <input formControlName="title" matInput type="text" placeholder="Title">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>
      Content
    </mat-label>
    <input formControlName="content" matInput type="text" placeholder="content">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit" (click)="this.onSubmit()" [disabled]="!articleUpdateForm.valid">
    Save
  </button>
  <button mat-raised-button color="basic" (click)="this.onNoClick()">
    Cancel
  </button>
</form>