<!-- <div class="background">
    <div class="container">
      <div class="card card-container">
          <form name="form-article" (ngSubmit)="createCategory()" #f="ngForm" novalidate>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
          <div class="form-group" >
            <label for="text">Category name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="category.name" #name="ngModel" />
          </div>
          <button class="btn btn-success btn-block" type="submit">Create</button>
        </form>
      </div>
    </div>
  </div> -->

  <form (ngSubmit)="createCategory()">
  <div class="background">
    <mat-card class="card">
    <mat-form-field>
      <input matInput id="categoryName" name="categoryName" [(ngModel)]="category.categoryName" #categoryName="ngModel" placeholder="New category">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Create</button>
    <mat-error *ngIf=errorMessage>{{errorMessage}}</mat-error>
    </mat-card>
  </div>
</form>

