.background {
  height: 100vh;
  margin-top: 50px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  max-width: 400px;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;

}