<mat-tab-group>
  <mat-tab 
    *ngFor="let category of categories" 
    label="{{category.categoryName}} ({{category.articles.length}})"
  >
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let article of category.articles" class="grid-tile-article">
        <mat-card class="product">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              {{article.title}}
            </mat-card-title>
            <mat-card-subtitle>
              {{article.author.name}}
              
            </mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image class="img-responsive" src="https://source.unsplash.com/random" alt=""> -->

          <mat-card-content>
            <span class="article-content">
              {{article.content}}
            </span>
            <!-- {{article.comments.length}} -->
          </mat-card-content>
          <mat-card-actions class="article-actions">
            <div>
                <button 
                (click)="this.editArticle(article)" 
                mat-raised-button color="primary"
                *ngIf="this.currentUser.email === article.author.email || this.currentUser.role === 'ADMIN'"
                >
                Edit
                </button>
                <button 
                (click)="this.loadArticleDetails(article.id)" 
                mat-raised-button color="info"
                >
                Details
                </button>
                <button 
                (click)="this.onDelete(article.id)" 
                mat-raised-button color="warn"
                *ngIf="this.currentUser.email === article.author.email || this.currentUser.role === 'ADMIN'"
                >
                Delete
                </button>
              </div>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>



