
  .card-image {
    background-color: transparent;
    width: 40vw;
    margin: auto;
    padding-top: 18px;
  }

  .row {
    margin: 10rem 0rem 0rem 6rem;
  }

  .home-article-author{
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    width: 20%;
    max-width: 55%;
  }

  .header {
    margin: 0 0 0 45%;
  }

  .home-page-category-label {
    margin: 0 0 0 30%;
  }
  
  .grid-tile-article {
    background: lightblue;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .article-content {
    display: inline-block;
    width: 450px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .article-card {
    width: calc(100% - 50px);
    height: calc(100% - 30px);
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .article-action {
    height: 50px;
    /* margin: 5rem, 5rem, 5rem, 5rem; */
  }

  .article-image {
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 50%;
  }

  .product {
    min-width: 230px; /* adjust as desired */
    min-height: 300px;
    margin-bottom: 20px; /* same as fxLayoutGap for even distribution */
  }