<div class="background">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Register</mat-card-title>
          <!-- <mat-card-subtitle>Please provide your credentials.</mat-card-subtitle> -->
        </mat-card-header>
        <form (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
          <mat-card-content>
              <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
              <mat-form-field [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                  <input matInput placeholder="Full name" type="text" class="form-control" name="name" id="name" [(ngModel)]="user.name" #name="ngModel" required>
                  <mat-error *ngIf="f.submitted && !email.valid">name required</mat-error>
                </mat-form-field>
    
                <mat-form-field [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                    <input matInput placeholder="Email" type="text" class="form-control" name="email" id="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" #email="ngModel" required/>  
                    <mat-error *ngIf="f.submitted && !email.valid"></mat-error>
                      <mat-error *ngIf="email.errors?.required">Email is required.</mat-error>
                </mat-form-field>

                <mat-form-field [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input matInput placeholder="Password" type="password" class="form-control" name="password" id="password"[(ngModel)]="user.password" #password="ngModel" required minlength="4" />  
                    <mat-error *ngIf="password.errors?.minlength">Password must be at least 4 characters long.</mat-error>
                </mat-form-field>

          </mat-card-content>
          <mat-card-actions>
            <button type="submit" mat-button>Create Account</button>
            <button [routerLink]="['/login']" mat-button>Cancel</button>
          </mat-card-actions>
      </form>
      </mat-card>
    </div>  