<h3>ARTICLE DETIALS</h3>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{
          articleDetails?.title
        }}</mat-card-title>
      <mat-card-subtitle>{{
        articleDetails?.author.name      
    }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{
          articleDetails?.content
        }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card-comment">
      <mat-card-header>
          <h4>Add comment</h4>
      </mat-card-header>
      <mat-card-content>
          <!-- <div *ngIf="this.articleDetailsForm">
            Name must be at least 5 characters long.
       </div>  -->
          <mat-form-field>
            <textarea
angu            name="comment" 
            [(ngModel)]="comment" 
            cols="30" 
            rows="10" 
            matInput 
            placeholder="Comments"
            >
            </textarea>
          </mat-form-field>
      </mat-card-content>
      <button (click)="this.addComment(this.articleId, this.comment)" mat-raised-button color="primary">Add</button>
      <br>
      <mat-card *ngFor="let comment of this.commentsForArticle">
          <mat-card-header>
            <mat-card-title>{{this.comment.userId.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>{{
            this.comment.text
        }}</mat-card-content>
        <button 
        *ngIf="this.currentUser.email === this.comment.userId.email || this.currentUser.role === 'ADMIN'"
        (click)="this.deleteComment(this.articleId, this.comment.id)" 
        mat-raised-button 
        color="warn"
        >Delete</button>
      </mat-card>
      <br>
      
  </mat-card>